extends layout
block content
    div(id="usernameModal", class="modal fade", tabindex="-1", role="dialog")
        div(class="modal-dialog", role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h4(class="modal-title") Who is you?
                div(class="modal-body")
                    div(class="input-group")
                        input(id="username-input", type="text", class="form-control")
                        span(class="input-group-btn")
                            button(class="btn btn-default", type="button", id="enter-username", data-dismiss="modal") Join
    div(class="container-fluid")
        div(class="row megadiv")
            div(class="chat-pane col-md-3")
                h1 chat
                div(id="username")
                div( id="chatWindow")
                    ul( id="chat-list")
                div(class="input-group")
                    input(id="messageBox", type="text", class="form-control")
                    span(class="input-group-btn")
                        button(class="btn btn-default", type="button", id="submit") Send
            div(class="canvas-pane col-md-9")
                div(class="toolbar")
                    input(type="text", id="tool-thickness", class="span2", value="", data-slider-min="10", data-slider-step="1", data-slider-value="20", data-slider-max="60", data-slider-orientation="horizontal", data-slider-selection="after", data-slider-tooltip="hide")
                    input(type="text", id="tool-thickness-display", value="20")
                div(class="canvas")
                h1 canvas
                canvas( id="draw", resize="true", keepalive="true" )
                script( type="text/paperscript", src="javascripts/draw.js", canvas="draw")
