extends layout
block content
    div(id="usernameModal", class="modal fade", tabindex="-1", role="dialog")
        div(class="modal-dialog", role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h4(class="modal-title") Who is you?
                div(class="modal-body")
                    form(id="username-form")
                        div(class="input-group")
                            input(id="username-input", type="text", class="form-control")
                            span(class="input-group-btn")
                                button(class="btn btn-default", type="submit", id="enter-username", data-dismiss="modal") Join
    div(class="container-fluid")
        div(class="row")
            div(class="score-pane col-md-3")
                h1 scores
                table(id="scores" class="table")
                    thead
                        tr
                            th Name
                            th Score
                    tbody(id="scores-body")
            div(class="tool-pane col-md-9")
                h1 tools
                input(type="text", id="tool-thickness", class="span2", value="", data-slider-min="1", data-slider-step="1", data-slider-value="10", data-slider-max="30", data-slider-orientation="horizontal", data-slider-selection="after", data-slider-tooltip="hide")
                input(type="text", id="tool-thickness-display", value="10")
        div(class="row megadiv")
            div(class="chat-pane col-md-3")
                h1 chat
                div(id="username") Username: 
                div( id="chatWindow")
                    ul( id="chat-list")
                div(class="input-group")
                    input(id="messageBox", type="text", class="form-control")
                    span(class="input-group-btn")
                        button(class="btn btn-default", type="button", id="submit") Send
            div(class="canvas-pane col-md-9")
                div(class="canvas")
                span
                    h1 canvas
                span
                    div(id="word-to-draw")
                canvas( id="draw", keepalive="true" )
                script( type="text/paperscript", src="javascripts/draw.js", canvas="draw")
