extends layout
block content
    div(id="usernameModal", class="modal fade", tabindex="-1", role="dialog")
        div(class="modal-dialog", role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h4(class="modal-title") Who is you?
                div(class="modal-body")
                    div(class="input-group")
                        input(id="username-input", type="text", class="form-control")
                        span(class="input-group-btn")
                            button(class="btn btn-default", type="button", id="enter-username", data-dismiss="modal") Join
    div(class="row megadiv")
        div(class="chat-pane col-md-3")
            h1 chat
            div(id="username")
            div( id="chatWindow")
                ul( id="chat-list")
            div(class="input-group")
                input(id="messageBox", type="text", class="form-control")
                span(class="input-group-btn")
                    button(class="btn btn-default", type="button", id="submit") Send
        div(class="canvas-pane col-md-9")
            div(class="toolbar")
                div(class="btn-group", role="group", data-toggle="buttons")
                    label(class="btn btn-primary active") Circles
                        input(type="radio", name="tool", id="circles", checked)
                    label(class="btn btn-primary") Rectangle
                        input(type="radio", name="tool", id="rectangle")
            div(class="canvas")
            h1 canvas
            canvas( id="draw", resize="true", keepalive="true" )
            script( type="text/paperscript", src="javascripts/draw.js", canvas="draw")
