html {
    height: 100%;
}

body {
    height:100%;
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea {
    resize: none;
    height: 60%;
    overflow: hidden;
}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

canvas {
    border-style: solid;
    border-width: thin;
}

#chatWindow {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.chat-message{
}

div.chat-pane {
    height: 100%;
    border-style: solid;
    border-width: thin;
   /* overflow-y: hidden;*/
}

.megadiv {
    height: 100%;
}
