html {
    height: 100%;
}

body {
    height:100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 15px;
}

textarea {
    resize: none;
    height: 60%;
    overflow: hidden;
}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

canvas {
    border-style: solid;
    border-width: thin;
}

.score-pane{
    border-style: solid;
    border-width: thin;
}

.tool-pane{
    border-style: solid;
    border-width: thin;
    padding-bottom: 10px;
}

#chatWindow {
    width: 100%;
    height: 560px;
    overflow-y: hidden;
}

.chat-message{
}

.sender-name{
    font-weight: bold;
}

.message-content{}

div.chat-pane {
    height: 700px;
    border-style: solid;
    border-width: thin;
   /* overflow-y: hidden;*/
}

.megadiv {
    height: 100%;
}

#tool-thickness-display {
  width: 50px;
  display: inline;
  margin-left: 10px;
}

#circleTimer {
  width: 100%;
  height: 100%
}
