html{
    height: 100%;
}

body {
    height:100%;
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea {
    resize: none;
    overflow: hidden;
}

a {
  color: #00B7FF;
}

#chatWindow {
    width: 100%;
}
